/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
	font-family: "Arial", sans-serif;
}

.table{
	border: 1px dotted black;
	text-align: left;
	padding: 1rem;
}

.table td{
	padding: 14px 8px;
}

.table th{
	border-bottom: 3px solid black;
}

.table .table-striped{
	background-color: luminosity;
}

.form-group{
	display: flex;
	flex-direction: column;
}

.label{
	margin: 0.5rem 0.3rem;
}

.input{
	padding: 0.6rem 0.3rem;
	margin-bottom: .4rem;
}

.btn{
	width: 100px;
	height: 40px;
	background-color: cadetblue;
	margin: 1rem 0.3rem;
	border: none;
	border-radius: 20px;
	color: #fff;
}

.main_heading{
	font-size: 2rem;
	text-align: center;
	color: sienna;
	margin: 1rem 12px;
}